#Question 9 of the LeetCode

URL:
https://leetcode.com/problems/palindrome-number/description/

Given an integer x, return true if x is a palindrome, and false otherwise.

Example 1:

Input: x = 121

Output: true

Explanation: 121 reads as 121 from left to right and from right to left.


Example 2:

Input: x = -121

Output: false

Explanation: From left to right, it reads -121. From right to left, it becomes 121-. Therefore it is not a palindrome.


Example 3:

Input: x = 10

Output: false

Explanation: Reads 01 from right to left. Therefore it is not a palindrome.

# Using string
Let's review the string in Python.

In [3]:
string = "hello"

# print a letter in a string
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[4])

h
e
l
l
o

In [4]:
# check equality
if string[0] == string[1]:
  print("The same character")
else:
  print("Not the same character")

if string[2] == string[3]:
  print("The same character")
else:
  print("Not the same character")

Not the same character
The same character

In [5]:
# iterate over the characters
for index in range(len(string)):
  print(string[index])

h
e
l
l
o

In [6]:
# tranform a number into a string would be useful
number = 121
number = str(number)
print(number[2])

1

# Coding
Testing purpose

Without function

In [10]:
# a/b means divide a by b. Result could be a float
3/2

1.5

In [ ]:
# a//b means divide a by b. Result is an integer.

In [9]:
3//2

1

In [16]:
range(3//2)

range(0, 1)

In [44]:
for number in range(3//2):
  print(number)

0

In [43]:
range(3//2 + 1)

range(0, 2)

In [46]:
for number in range(3//2 + 1):
  print(number)

0
1

In [20]:
1 == 3//2

True

In [41]:
x = -121

x = str(x)

for index in range(len(x)//2 +1):

  # a negative number
  if x[0] == '-':
    print("Not a palindrome number")
    break

  # a normal case: check whether the left-most character equals to the right-most character
  if x[index] != x[len(x)-1-index]:
    print("Not a palindrome number")
    break

  # reaches the middle character
  else:
    if index == len(x) //2:
      print("A palindrome number")

Not a palindrome number

# Coding
With function

In [47]:
def isPalindrome(x):
    """
    :type x: int
    :rtype: bool
    """

    # check for the negative number
    if x < 0:
      return False

    # non-negative number x
    # transform integer x to a string x
    x = str(x)

    for index in range(len(x)//2 +1):
      if x[index] != x[len(x)-1-index]:
        return False

    return True

In [48]:
# testing
isPalindrome(121)

True

In [49]:
# testing
isPalindrome(-121)

False

In [50]:
# testing
isPalindrome(10)

False

# Analysis

Time complexity: $O(n)$

- there is one for loop: this is $O(n)$

- transform the integer x to a string is $O(1)$

- In overall, the time complexity is $O(n)$